/app/code/core
/app/design/frontend/default/blank
/app/design/frontend/default/default
/app/design/frontend/default/iphone
/app/design/frontend/default/modern
/downloader
/errors
/includes
/lib
/media
/shell
/nbproject
/pkginfo
/skin/frontend/default/modern
/skin/frontend/default/blank
/skin/frontend/default/blue
/skin/frontend/default/default
/skin/frontend/default/french
/skin/frontend/default/german
/skin/frontend/default/iphone
/skin/frontend/base
/skin/install
/var
/mage
/RELEASE_NOTES.txt
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/error_log
/favicon.ico
/get.php
