<?xml version="1.0"?>
<config>
    <modules>
        <Magegaga_Easycheckout>
            <version>2.0.0</version>
        </Magegaga_Easycheckout>
    </modules>
    <frontend>
	<secure_url>
	    <checkout_onestep>/checkout/onestep</checkout_onestep>
	</secure_url>
	<routers>
	    <checkout>
		<args>
		    <modules>
			<Magegaga_Easycheckout before="Mage_Checkout">Magegaga_Easycheckout</Magegaga_Easycheckout> 
		    </modules>
		</args>
	    </checkout>
	</routers>
        <layout>
            <updates>
                <easycheckout>
                    <file>easycheckout.xml</file>
                </easycheckout>
            </updates>
        </layout>
	<events>
	    <checkout_controller_easycheckout_save_order_after>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
	    </checkout_controller_easycheckout_save_order_after>
	</events>
        <translate>
            <modules>
                <Magegaga_Easycheckout>
                    <files>
                        <default>Magegaga_Easycheckout.csv</default>
                    </files>
                </Magegaga_Easycheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
	    <easycheckoutadmin>
		<use>admin</use>
		<args>
		    <module>Magegaga_Easycheckout</module>
		    <frontName>easycheckoutadmin</frontName>
		</args>
	    </easycheckoutadmin>
        </routers>
    </admin>
     <adminhtml>
	<menu>
	    <magegaga_extensions>
		<title>Magegaga Extensions</title>
		<sort_order>71</sort_order>
		<children>
		    <easycheckout module="easycheckout">
			<title>Easycheckout</title>
			<sort_order>71</sort_order>
			<children>
			    <settings translate="title">
			      <title>Settings</title>
			      <sort_order>2</sort_order>
			      <action>adminhtml/system_config/edit/section/easycheckout/</action>
			    </settings>
			</children>
		    </easycheckout>
		</children>
	     </magegaga_extensions>
	</menu>
	<acl>
	    <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
		<admin>
		    <children>
			<magegaga_extensions>
			    <title>Magegaga Extensions</title>
			    <sort_order>71</sort_order>
			    <action>adminhtml/system_config/edit/section/easycheckout/</action>
			</magegaga_extensions>
			<system>
			    <children>
				<config>
				    <children>
					<easycheckout translate="title" module="easycheckout">
					    <title>Easycheckout Section</title>
					</easycheckout>
				    </children>
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
	<layout>
            <updates>
                <easycheckout module="easycheckout">
                    <file>easycheckout.xml</file>
                </easycheckout>
            </updates>
        </layout>
    </adminhtml>
    <global>
    
        <models>
            <easycheckout>
                <class>Magegaga_Easycheckout_Model</class>
            </easycheckout>
        </models>
        <blocks>
            <easycheckout>
                <class>Magegaga_Easycheckout_Block</class>
            </easycheckout>
        </blocks>
	<fieldsets>
    		<sales_convert_quote>
    			<easycheckout_comment><to_order>easycheckout_comment</to_order></easycheckout_comment>
			<easycheckout_heard><to_order>easycheckout_heard</to_order></easycheckout_heard>
    		</sales_convert_quote>
    	</fieldsets>
        <helpers>
            <easycheckout>
                <class>Magegaga_Easycheckout_Helper</class>
            </easycheckout>
        </helpers>
        <resources>
	    <easycheckout_setup>
                <setup>
                    <module>Magegaga_Easycheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easycheckout_setup>
	    <easycheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easycheckout_write>
            <easycheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easycheckout_read>	
        </resources>
	<events>
	    <controller_action_predispatch_checkout_onepage_index>
		<observers>
		    <magegaga_easycheckout_observer>
			<type>singleton</type>
			<class>easycheckout/observer</class>
			<method>EasycheckoutRedirect</method>
		    </magegaga_easycheckout_observer>
		</observers>
	    </controller_action_predispatch_checkout_onepage_index>
	    <adminhtml_controller_action_predispatch_start>
		<observers>
		  <magegaga_easycheckout_event>
		    <type>singleton</type>
		    <class>Magegaga_Easycheckout_Controller_Event</class>
		    <method>customTheme</method>
		  </magegaga_easycheckout_event>
		</observers>
	    </adminhtml_controller_action_predispatch_start>
	</events>
    </global>
    <default>
	<easycheckout>
	    <general>
		<active>1</active>
		<title><![CDATA[Quick Checkout]]></title>
		<enable_content>1</enable_content>
		<content><![CDATA[Enter the required options for easy checkout process]]></content>
		<label_comments><![CDATA[Enter Any Special Comments]]></label_comments>
		<enable_newsletter>1</enable_newsletter><enable_comments>1</enable_comments>
		<enable_cartupdate>1</enable_cartupdate><enable_coupon>1</enable_coupon>
		<enable_login>1</enable_login><enable_register>1</enable_register>
		<update_country>1</update_country><update_zip>1</update_zip><update_state>1</update_state>
	    </general>
	    <css_style>
		<admin><![CDATA[easycheckout]]></admin>
		<agreement>200</agreement>
	    </css_style>
        <quickheared>
		 <enable_quickheared>1</enable_quickheared><label_quickheared><![CDATA[Which Source Lead You To Us]]> </label_quickheared><options_quickheared><![CDATA[Google,Magazine Advertising,Newspaper,Friend]]></options_quickheared>
	   </quickheared>		
	</easycheckout>
    </default>
</config>